In [ ]:
#Find the sum of 10 natural numbers

In [11]:
try:
    sum=0
    for i in range(1,11):
        sum=sum+i
    print("The sum of first 10 natural numbers are : ",sum)
except Exception as e:
    print(e)

The sum of first 10 natural numbers are :  55

In [ ]:
#WAP Ask the user to find a number is an even no. and odd no. between 1-100
#This time count the no. of even and odd no.

In [22]:
try:
    even=0
    odd=0
    for a in range(1,101):
        if a%2==0:
          #  print("{} is an even number".format(a))
            even=even+1
        else:
           # print("{} is an odd number".format(a))
            odd=odd+1
    print("total no. of Even is ",even)
    print("total no. of Odd is ",odd)
except Exception as e:
    print(e)

total no. of Even is  50
total no. of Odd is  50

$in-operator$

In [41]:
"b" in "banana"

True

In [42]:
name="python"
"p" in name
"y" in name
"t" in name
"h" in name
"o" in name
"n" in name

True

In [45]:
name="python"
for i in name:
    print(i)

p
y
t
h
o
n

### range means==== Numbers
### in operator ===== strings
### eval==== numbers
### input====strings

In [ ]:
#Wap ask the user enter a Your name
#count the no. of letters
#if the count>5 print(you have lengthy name)
#else print(you have small name)

In [54]:
try:
    count=0
    name=str(input("Enter Your name: "))
    for i in name:
        count=count+1
    if count>5:
        print("You have Big name")
    else:
        print("You have small name")
    print("Total count of your name is",count)
except Exception as e:
    print(e)

Enter Your name: Tushar
You have Big name
Total count of your name is 6

In [ ]:
#Wap ask the user enter your name itterate your name with loop
# and print how many a are there in your name

In [1]:
try:
    count=0
    name=str(input("Enter Your name: "))
    for i in name:
        if i=="a":
            count=count+1
    print("There are {} no. of a".format(count))        
except Exception as e:
    print(e)

Enter Your name: tushaar
There are 2 no. of a

$ORD_ Keyword$

In [4]:
ord("a")

97

In [6]:
"Apple">"Bat"

False

In [7]:
"Apple">"APPLE"

True

In [10]:
chr(65),ord("A")

('A', 65)

In [ ]:
# CASE-1 : use loop 1 with some range
# ASCII value where it will start i don't know and where it will end
#chr(1),chr(2)

In [26]:
for i in range(33,127):
    print("{} ASCII VALUE IS {}".format(i,chr(i)))

33 ASCII VALUE IS !------------>
34 ASCII VALUE IS "------------>
35 ASCII VALUE IS #------------>
36 ASCII VALUE IS $------------>
37 ASCII VALUE IS %------------>
38 ASCII VALUE IS &------------>
39 ASCII VALUE IS '------------>
40 ASCII VALUE IS (------------>
41 ASCII VALUE IS )------------>
42 ASCII VALUE IS *------------>
43 ASCII VALUE IS +------------>
44 ASCII VALUE IS ,------------>
45 ASCII VALUE IS ------------->
46 ASCII VALUE IS .------------>
47 ASCII VALUE IS /------------>
48 ASCII VALUE IS 0------------>
49 ASCII VALUE IS 1------------>
50 ASCII VALUE IS 2------------>
51 ASCII VALUE IS 3------------>
52 ASCII VALUE IS 4------------>
53 ASCII VALUE IS 5------------>
54 ASCII VALUE IS 6------------>
55 ASCII VALUE IS 7------------>
56 ASCII VALUE IS 8------------>
57 ASCII VALUE IS 9------------>
58 ASCII VALUE IS :------------>
59 ASCII VALUE IS ;------------>
60 ASCII VALUE IS <------------>
61 ASCII VALUE IS =------------>
62 ASCII VALUE IS >------------>
63 ASCII VALUE IS ?------------>
64 ASCII VALUE IS @------------>
65 ASCII VALUE IS A------------>
66 ASCII VALUE IS B------------>
67 ASCII VALUE IS C------------>
68 ASCII VALUE IS D------------>
69 ASCII VALUE IS E------------>
70 ASCII VALUE IS F------------>
71 ASCII VALUE IS G------------>
72 ASCII VALUE IS H------------>
73 ASCII VALUE IS I------------>
74 ASCII VALUE IS J------------>
75 ASCII VALUE IS K------------>
76 ASCII VALUE IS L------------>
77 ASCII VALUE IS M------------>
78 ASCII VALUE IS N------------>
79 ASCII VALUE IS O------------>
80 ASCII VALUE IS P------------>
81 ASCII VALUE IS Q------------>
82 ASCII VALUE IS R------------>
83 ASCII VALUE IS S------------>
84 ASCII VALUE IS T------------>
85 ASCII VALUE IS U------------>
86 ASCII VALUE IS V------------>
87 ASCII VALUE IS W------------>
88 ASCII VALUE IS X------------>
89 ASCII VALUE IS Y------------>
90 ASCII VALUE IS Z------------>
91 ASCII VALUE IS [------------>
92 ASCII VALUE IS \------------>
93 ASCII VALUE IS ]------------>
94 ASCII VALUE IS ^------------>
95 ASCII VALUE IS _------------>
96 ASCII VALUE IS `------------>
97 ASCII VALUE IS a------------>
98 ASCII VALUE IS b------------>
99 ASCII VALUE IS c------------>
100 ASCII VALUE IS d------------>
101 ASCII VALUE IS e------------>
102 ASCII VALUE IS f------------>
103 ASCII VALUE IS g------------>
104 ASCII VALUE IS h------------>
105 ASCII VALUE IS i------------>
106 ASCII VALUE IS j------------>
107 ASCII VALUE IS k------------>
108 ASCII VALUE IS l------------>
109 ASCII VALUE IS m------------>
110 ASCII VALUE IS n------------>
111 ASCII VALUE IS o------------>
112 ASCII VALUE IS p------------>
113 ASCII VALUE IS q------------>
114 ASCII VALUE IS r------------>
115 ASCII VALUE IS s------------>
116 ASCII VALUE IS t------------>
117 ASCII VALUE IS u------------>
118 ASCII VALUE IS v------------>
119 ASCII VALUE IS w------------>
120 ASCII VALUE IS x------------>
121 ASCII VALUE IS y------------>
122 ASCII VALUE IS z------------>
123 ASCII VALUE IS {------------>
124 ASCII VALUE IS |------------>
125 ASCII VALUE IS }------------>
126 ASCII VALUE IS ~------------>

In [37]:
for i in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
    print("{} ASCII VALUE IS {}".format(i,ord (i)))

A ASCII VALUE IS 65
B ASCII VALUE IS 66
C ASCII VALUE IS 67
D ASCII VALUE IS 68
E ASCII VALUE IS 69
F ASCII VALUE IS 70
G ASCII VALUE IS 71
H ASCII VALUE IS 72
I ASCII VALUE IS 73
J ASCII VALUE IS 74
K ASCII VALUE IS 75
L ASCII VALUE IS 76
M ASCII VALUE IS 77
N ASCII VALUE IS 78
O ASCII VALUE IS 79
P ASCII VALUE IS 80
Q ASCII VALUE IS 81
R ASCII VALUE IS 82
S ASCII VALUE IS 83
T ASCII VALUE IS 84
U ASCII VALUE IS 85
V ASCII VALUE IS 86
W ASCII VALUE IS 87
X ASCII VALUE IS 88
Y ASCII VALUE IS 89
Z ASCII VALUE IS 90

$StringPackage$

In [40]:
import string
dir (string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [55]:
print(string._string)

<module '_string' (built-in)>

In [57]:
import string
for i in string.ascii_uppercase:
    print(i,ord(i),sep="----->")

A----->65
B----->66
C----->67
D----->68
E----->69
F----->70
G----->71
H----->72
I----->73
J----->74
K----->75
L----->76
M----->77
N----->78
O----->79
P----->80
Q----->81
R----->82
S----->83
T----->84
U----->85
V----->86
W----->87
X----->88
Y----->89
Z----->90