In [1]:
list1=['hyderabad','delhi','chennai','blr']
for i in list1:
    if len(i)>=4:
        print(i)

hyderabad
delhi
chennai

In [2]:
list1=['hyderabad','delhi','chennai','blr']
city_list=[]
for i in list1:
    if len(i)>=4:
        city_list.append(i)
city_list

['hyderabad', 'delhi', 'chennai']

In [6]:
list2=['hyderb#d','delhi','chenn#i','blr']
city_list1=[]
for i in list2:
    if '#' in list2:
        city_list1.append(i)
city_list1

[]

In [8]:
list1=['onkar.nallagoni@gmail.com','kareem.pasha@gmail.com','tushar.satya@gmail.com']
first,second=[],[]
for i in list1:
    first.append(i.split('.')[0])
    second.append(i[i.find('.')+1:i.find('@')])
first,second

(['onkar', 'kareem', 'tushar'], ['nallagoni', 'pasha', 'satya'])

In [ ]:
#Wap ask the user get 10 random numbers between 10 to 50 and get the 
# even and odd number from those 10 random numbers
#take 2 empty list

In [15]:
import random
even,odd=[],[]
for i in range(10):
    num=random.randint(1,50)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
even,odd

([14, 42, 50, 8, 44], [3, 11, 3, 23, 5])

**List Comprehenshion**

In [17]:
list1=['hyderabad','delhi','chennai','blr']
city_list=[]
#for i in list1:
 #   if len(i)>=4:
  #      city_list.append(i)
#city_list
#start:you have taken an empty list
#end: appending the results
#[<output> <for loop> <ifcondition>]
output=[i for i in list1  if len(i)>=4]
output

['hyderabad', 'delhi', 'chennai']

In [25]:
list2=['hyderb#d','delhi','chenn#i','blr']
city_list1=[]
for i in list2:
    if '#' in list2:
        city_list1.append(i)
city_list1       
#output1[i for i in list2  if '#' in i]
#output1

[]

In [30]:
import random
even,odd=[],[]
#for i in range(10):
num=random.randint(1,50)
 #   if num%2==0:
  #      even.append(num)
   # else:
    #    odd.append(num)
even,odd

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
import random
even,odd=[],[]
num=random.randint(1,50)
output3=[i if i%2==0 else 'odd' for i in range(10)] 
output3

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']