In [3]:
#i want to create a function with name add
def add():
    a=20
    b=30
    print(a+b)
    
# if you run the function it will not return any output 
#until unless ypu call the function

In [ ]:
def even_odd():
    try:
        
        
        
        
    except Exception as e:
        print(e)
        
#If we provide anything inside the brackets
#that are called arguments/paramete

In [4]:
add()

50

In [5]:
# i want to do an operation of adding a base salary and DA amount
#total salary

#write normal code

base_salary=eval(input("Enter base salary : "))
DA_amount=eval(input("Enter DA amount : "))
total_salary=base_salary+DA_amount
print("The total salary is :",total_salary)

Enter base salary : 50000
Enter DA amount : 10000
The total salary is : 60000

In [9]:
def salary():
    base_salary=eval(input("Enter base salary : "))
    DA_amount=eval(input("Enter DA amount : "))
    total_salary=base_salary+DA_amount
    print("The total salary is :",total_salary)

In [10]:
salary()

Enter base salary : 50000
Enter DA amount : 10000
The total salary is : 60000

In [15]:
### Wap Ask the user enter 3 no. and calculate average

def average():
    n1=eval(input("Enter 1st number "))
    n2=eval(input("Enter 2nd number "))
    n3=eval(input("Enter 3rd number "))
    average=(n1+n2+n3)/3
    print("Average of three numbers is ",average)
average()

Enter 1st number 4
Enter 2nd number 5
Enter 3rd number 6
Average of three numbers is  5.0

In [14]:
average()

Enter 1st number4
Enter 2nd number5
Enter 3rd number6
Average of three numbers is  5.0

In [ ]:
# Wap ask the user enter bill amount

In [29]:
def amount():
    try:
        bill_amt=eval(input("Enter bill amount : "))
        tip_amt= eval(input("Enter tip amount : "))
        total_amt=bill_amt+tip_amt
        print("Total bill amount is ",total_amt)
    except Exception as e:
        print(e)
amount()

Enter bill amount : 5000
Enter tip amount : 1
Total bill amount is  5001

In [36]:
def even_odd():
    try:
        num=eval(input("Enter any number : "))
        if num%2==0:
            print("It is a even number")
        else:
            print("It is a odd number")
    except Exception as e:
            print(e)
even_odd()

Enter any number : @
invalid syntax (<string>, line 1)

### With arguments

In [38]:
def add(a,b):
    print(a+b)
add(20,30)
#How many variables you provide

50

In [39]:
def add(a):
    b=30
    print(a+b)
add(20)

50

In [43]:
def add():
   
    print(a+b)
add()

NameError: name 'a' is not defined

In [44]:
def salary(base_salary,DA_amount):
    
    total_salary=base_salary+DA_amount
    print("The total salary is :",total_salary)
salary(50000,10000)

The total salary is : 60000

In [45]:
def average(n1,n2,n3):
   
    average=(n1+n2+n3)/3
    print("Average of three numbers is ",average)
average(20,30,40)

Average of three numbers is  30.0

- Without arguments
- with arguments
- default arguments

In [48]:
def average(n1,n2,n3=300):
   
    average=round((n1+n2+n3)/3,3)
    print("Average of three numbers is ",average)
average(20,30)

Average of three numbers is  116.667

In [49]:
# First verification

def average(n1,n2,n3=300):
    print("n1: ",n1)
    print("n2: ",n2)
    print("n3: ",n3)
   
    average=round((n1+n2+n3)/3,3)
    print("Average of three numbers is ",average)
average(10,20,30)

n1:  10
n2:  20
n3:  30
Average of three numbers is  20.0