### String methods

In [1]:
dir('name')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## 1st method
         capitalize

In [17]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
name='naresh it'

In [9]:
help(name.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [10]:
name.capitalize()

'Naresh it'

In [12]:
help(name.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [13]:
help(name.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [15]:
name='naresh it'
name.upper()

'NARESH IT'

In [16]:
name='nareSh it'
name.lower()

'naresh it'

### lower

In [21]:
name='Naresh It'
name.lower()

'naresh it'

In [22]:
name1='naresh IT'
print(name1.capitalize())
print(name1.upper())
print(name1.lower())

Naresh it
NARESH IT
naresh it

### casefold

In [25]:
name='Naresh It'
name.casefold()

'naresh it'

In [26]:
help(name.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

In [27]:
help(name.removeprefix)

Help on built-in function removeprefix:

removeprefix(prefix, /) method of builtins.str instance
    Return a str with the given prefix string removed if present.

    If the string starts with the prefix string, return string[len(prefix):].
    Otherwise, return a copy of the original string.

In [44]:
string1='hello'
#output : string1='Hello' without using string method
string2='H'
string3=string1[1:]
string2+string3

'Hello'

In [46]:
import time
start=time.time()
string='hello hi how are you'
count=0
for i in string:
    if i=='h':
        count+=1
print(count)
end=time.time()
print(end-start)

3
0.0

### Q1-How many a's
### Q2 - index of 'a'
### Q3- no. of vowels in a given string
### Q4- unique vowels

In [ ]:
#Count method

In [2]:
string1='HiHihihi'
#how many h are there
#if this method will give 'H' and 'h' both or seperately

In [4]:
string1.count('H')

2

In [5]:
string1.count('h')

2

### Wap convert above string into lower case and count number of 'h' do by using string methods

In [8]:
string1='HiHihihi'
string=string1.lower()
string.count('h')

4

In [13]:
string1='HiHihihi'
string=string1.lower()
for i in string1:
    if string=='h':
        print("no. of h is : ",string)

In [5]:
string1='welcome'
#==================slice+concatenation=======================================
string1[:2]:'L'+string1[3:]
#================ replace method===============================================
string1.replace('l','L')

'weLcome'

In [ ]:
#input:restart
#output1:$estart
#output2:resta$t
#replace method will replace all

In [6]:
string='restart'
'restart'.replace('r','$')

'$esta$t'

In [29]:
string='restart'
a=string.replace('r','$',1)
string[1:]
string[:1]

b=string[:1]+string[1:].replace('r','$',1)
c=print(string[::-1].replace('r','$',1)[::-1])
print(a)
print(b)

resta$t
$estart
resta$t

In [21]:
string.replace('r','$',6,/)

SyntaxError: invalid syntax (3285900914.py, line 1)

In [22]:
input_word = "restart"

# Output 1: Add a "$" at the beginning
output1 = "$"+input_word

# Output 2: Replace "r" with "$"
output2 = input_word.replace("r", "$")

print("Output 1:", output1)
print("Output 2:", output2)

Output 1: $restart
Output 2: $esta$t

$$Index$$

In [31]:
string1='python'
string1.index('t')

2

In [40]:
string1='restart'
#replace the second 't' with 2
string1[string1.index('t')+1:]

'art'

In [46]:
string='restart'

# r e s t a r t
# 0 1 2 3 4 5 6
print(string.index('t'))
f_0=string.index('t')
string.index('t',f_0+1)

3

6

In [53]:
string2='restart how to'
#get the first 't'
f_o=string2.index('t')
s_o=string2.index('t',f_o+1)
t_o=string2.index('t',s_o+1)
print(f_o,s_o,t_o)

3 6 12

$$find$$

In [55]:
string1='restart how to'
f_o=string1.find('t')
s_o=string1.find('t',f_o+1)
s_o

6

$$split$$

In [66]:
string1='hi how are you'
string1.split()

['hi', 'how', 'are', 'you']

In [67]:
string2='hi how,are you'
string2.split(',')

['hi how', 'are you']

In [72]:
var1= 'hi how'
var2='are you'
print(var1,var2,sep=",")

hi how,are you

In [70]:
string1='hai how,are you'
string1.split('a')

['h', 'i how,', 're you']

In [7]:
sent1='rashaad.omkar@gmail.com'
#Extract only: omkar
sent1.split('@')
if len(sent1.split('@'))==2:
    extract=sent1.split('@')[0].split('.')[1]
    print(extract)

omkar

In [18]:
sent1='rashaad.omkar@gmail.com'
extract=sent1.split('@')[0].split('.')[1]
print(extract)

omkar

In [21]:
sent1='rashaad.omkar@gmail.mlr.edu.ac.in'
extract=sent1.split('@')[0].split('.')[1]
print(extract)

omkar

In [27]:
sent1='rashaad.omkar@edu.ac.in'
sent1.split('@')[1].split('.')[0]

'edu'

### Project
- let say all the emails in a text file 
- how to read the text file
- extract
- first second company email

$$lstrip-rstrip$$

In [32]:
string1=' hai how are you '
string2='hai how are you '
string3=' hai how are you'

#### if you want to remove the spaces we use method strip
- strip means it will remove spaces both side
- lstrip: It will remove left side space
- rstrip:It will remove right side space

In [34]:
string1.strip(),string1.lstrip(),string1.rstrip()

('hai how are you', 'hai how are you ', ' hai how are you')

In [35]:
string2.strip(),string2.lstrip(),string2.rstrip()

('hai how are you', 'hai how are you ', 'hai how are you')

In [38]:
string1='&&&&&hello&&&&&&&&&&&'
print(string1.strip('&'))
print(string1.lstrip('&'))
print(string1.rstrip('&'))

hello
hello&&&&&&&&&&&
&&&&&hello

$$startswith-endswith$$

In [44]:
string1=' hai how are you'
string1.startswith('hai')
string1.startswith(' hai')
s

True

In [45]:
string1.endswith('u')

True

In [46]:
string1.startswith(string1)
string1.endswith(string1)

True

#### ----------------------------------------------------------------------------------------------------
- capitalize/casefold/upper/lower
- index/find
- strip/rstrip/lstrip
- startswith/endswith
- count
- replace
- split
#### ----------------------------------------------------------------------------------------------------

In [53]:
string1="Hello"
string2='1234'
print(string1.isalpha(),string2.isalpha())
print(string1.isnumeric(),string2.isnumeric())
print(string1.isupper(),string2.isupper())
print(string1.islower(),string2.islower())

True False
False True
False False
False False

In [57]:
string1="Hello"
print(string1.islower())

False

In [65]:
string3='10.5'
string3.float()

AttributeError: 'str' object has no attribute 'float'

In [64]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#### Q1- in a given sentence what is the most repeated word?
- example- 'hai how are you you hai'
##### Q2- in a given sentence what is the maximum length of the string also minumum 
### #  length of the string
- 'hello python how are youuuu'
#### q3- str1='hyd'  str2='chennai'  str3='mumbai'
####    greatet word and smallest word: interms of ascii

$$LIST$$

In [13]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

- array of elemenrs stored in square method
- list is a heterogenous property
- anykind of data types emlements we can store in the form of list
- which means duplicated elements are aloowed
- list and list also it can take

In [21]:
list3=['hai how are you',[1,2,3]]
list3

['hai how are you', [1, 2, 3]]

In [15]:
type(list1)

list

In [16]:
list1

[1, 2, 3, 4, 5]

In [20]:
#len-max-min-sum
print(len(list1))
print(max(list1))
print(min(list1))
print(sum(list1))

5
5
1
15

In [52]:
#len-max-min-sum
list2=['A','B','C','D']
list2

['A', 'B', 'C', 'D']

In [33]:
print(list2)
print(len(list2))
print(max(list2))
print(min(list2))
print(sum(list2))

['A,B,C,D']
1
A,B,C,D
A,B,C,D

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
print(list3)
print(len(list3))
print(max(list3))
print(min(list3))
print(sum(list3))

['hai how are you', [1, 2, 3]]
2

TypeError: '>' not supported between instances of 'list' and 'str'

In [44]:
print(list1)
print(list2)
list_con=list1+list2

[1, 2, 3, 4, 5]
['A,B,C,D']

In [45]:
print(list_con)

[1, 2, 3, 4, 5, 'A,B,C,D']

In [53]:
list2

['A', 'B', 'C', 'D']

In [56]:
'A' in list2
'B' in list2
'C' in list2
'D' in list2
#i in list2

True

In [75]:
for i in range(len(list2)):
    print(i)

0
1
2
3

In [78]:
i=0
while i<len(list2):
    print(i,list2[i])
    i+=1

0 A
1 B
2 C
3 D