In [ ]:
- Strings
- List
- Dictionary
- tuple/set
-lambda function
- file handling

**Dictionary**

In [1]:
names=['Ram','Raheem','Robert']
ages=[25,30,35]
for i,j in zip(names,ages):
    print(i,j)

Ram 25
Raheem 30
Robert 35

**Key-value** pait concept

In [ ]:
#{key:value}

In [38]:
dict1={'Ram':0,'Raheem': 30,'Robert':35}
dict1

{'Ram': 0, 'Raheem': 30, 'Robert': 35}

- type

- len

- max

- min

In [4]:
type(dict1)

dict

In [5]:
len(dict1)

3

In [14]:
max(dict1)

'Robert'

In [11]:
min(dict1)

'Raheem'

- max values and min values based on keys only

In [15]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d2={'names':['Ram','Raheem','Robert'],'ages':[25,30,35]}
d2

{'names': ['Ram', 'Raheem', 'Robert'], 'ages': [25, 30, 35]}

In [16]:
d3={25:'Ram'}

In [17]:
d3

{25: 'Ram'}

In [20]:
d4={['Ram','Raheem','Robert']:'names'}
d4

TypeError: unhashable type: 'list'

In [21]:
d5={25:35}

In [30]:
d7={'Fruits':{'like':['Apple','Cherry']}}
d7

{'Fruits': {'like': ['Apple', 'Cherry']}}

- If you provide multiples values at key position it will fail

In [34]:
d8={'Mobin':'Amazon','Mobin':'Amazon'}
d8

{'Mobin': 'Amazon'}

- duplicates are not allowed

In [36]:
d9={'Ravi':25,'Ravi':35}
d9

{'Ravi': 35}

- If keys are same the last value will be taken

In [41]:
'Ram' in dict1
'Raheem' in dict1
'Robert' in dict1

True

In [42]:
for i in dict1:
    print(i)

Ram
Raheem
Robert

**index**

In [46]:
dict1['Ram']

0

In [ ]:
#wap by using for loop get the values

In [47]:
for i in dict1:
    print(i,dict1[i])

Ram 0
Raheem 30
Robert 35

In [50]:
d2={'names':['Ram','Raheem','Robert'],'ages':[25,30,35]}
for i in range(len(d2)):
    print(d2['names'][i],d2['ages'][i])

Ram 25
Raheem 30

In [52]:
d2 = {'names': ['Ram', 'Raheem', 'Robert'],
      'ages': [25, 30, 35]}
for i,j in zip(d2['names'], d2['ages']):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [62]:
d1={'hello':[{'fruits':['Apple','banana',{'like':['cherry']}]}
d1['hello'][0]['fruits'][2]['like'][0]    
d1

SyntaxError: '[' was never closed (3914647141.py, line 1)

In [63]:
dict1['Nareshit']=['DS','MLOPS','DE']
dict1

{'Ram': 0, 'Raheem': 30, 'Robert': 35, 'Nareshit': ['DS', 'MLOPS', 'DE']}

In [4]:
dict2={}
dict2['Apple']='fruit'
dict2['Car']='vehicle'
dict2

{'Apple': 'fruit', 'Car': 'vehicle'}

In [ ]:
#wap ask the user get 5 random numbers
#and perform even and odd operation
#output: {even:[10,12,14],'odd':[11,13]}

In [81]:
import random
even_odd={}
even,odd=[],[]
for i in range(5):
    num=random.randint(10,100)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
even_odd['even']=even
even_odd['odd']=odd
even_odd

{'even': [98], 'odd': [33, 43, 47, 45]}

**items-keys-values**

In [16]:
dict1={'course':'ds',
       'price':18,
       'duration':4,
       'institute':'Naresh IT'}

In [17]:
dict1.items()

dict_items([('course', 'ds'), ('price', 18), ('duration', 4), ('institute', 'Naresh IT')])

In [23]:
keys=dict1.keys()

In [19]:
#it is a new type called dict items

In [24]:
list(keys)

['course', 'price', 'duration', 'institute']

In [21]:
for i,j in dict1.items():
    print(i,":",j)

course : ds
price : 18
duration : 4
institute : Naresh IT

In [25]:
values=dict1.values()

In [26]:
list(values)

['ds', 18, 4, 'Naresh IT']

In [ ]:
#one list keys
#second llist values
#can you create the dictionary

In [62]:
list1= ["Course", "Duration", "Fee","Institute"]
list2 = ["DS",18,4,"Naresh IT"]
dict1={}
dict1 =dict(zip(list1,list2))
dict1

{'Course': 'DS', 'Duration': 18, 'Fee': 4, 'Institute': 'Naresh IT'}

In [35]:
list1= ["Course", "Duration", "Fee","Institute"]
list2 = ["DS",18,4,"Naresh IT"]
#we will make a empty dictionary
dict1={}   
for i,j in zip(keys,values):
    dict1[i]=j

In [37]:
dict1.keys()

dict_keys(['course', 'price', 'duration', 'institute'])

In [56]:
list1= ["Course", "Duration", "Fee","Institute"]
list2 = ["DS",18,4,"Naresh IT"]
#we will make a empty dictionary
dict1 = {list1[i]:list2[i] for i in range(len(list1))}
dict1

{'Course': 'DS', 'Duration': 18, 'Fee': 4, 'Institute': 'Naresh IT'}

In [54]:
dict1 = {list1[i]:list2[i] for i in range(len(list1))}

In [57]:
d1={i:j for i,j in zip(list1,list2)}

In [50]:
#can you get a keys list and values list from dictionary-- yes
#Can you make a dictionary by using two list-------- yes

In [58]:
list(dict1.keys())

['Course', 'Duration', 'Fee', 'Institute']

**get-method***

In [59]:
dict1.get("Course")

'DS'

**clear-copy**

In [64]:
l1=[1,2,3]
l2=l1.copy()
l1.clear()
print('l1 :',l1)
print('l2 : ',l2)

l1 : []
l2 :  [1, 2, 3]

In [63]:
dict1

{'Course': 'DS', 'Duration': 18, 'Fee': 4, 'Institute': 'Naresh IT'}

**pop-popitem-del**

In [73]:
dict1={'course':'ds',
       'price':18000,
       'duration':4,
       'institute':'Naresh IT'}

In [74]:
dict1.pop('price')
print(dict1)

{'course': 'ds', 'duration': 4, 'institute': 'Naresh IT'}

In [75]:
dict1={'course':'ds',
       'price':18000,
       'duration':4,
       'institute':'Naresh IT'}
del dict1['duration']
dict1

{'course': 'ds', 'price': 18000, 'institute': 'Naresh IT'}

**setasdefault**

In [77]:
dict1={'course':'ds',
       'price':18000,
       'duration':4,
       'institute':'Naresh IT'}
dict1['package']='10lakhs'
dict1

{'course': 'ds',
 'price': 18000,
 'duration': 4,
 'institute': 'Naresh IT',
 'package': '10lakhs'}

In [84]:
dict1={'course':'ds',
       'price':18000,
       'duration':4,
       'institute':'Naresh IT'}
dict1.setdefault('pacakage')  #here we are not providing any value
dict1.setdefault('certification','valid') #both value and key
dict1

{'course': 'ds',
 'price': 18000,
 'duration': 4,
 'institute': 'Naresh IT',
 'pacakage': None,
 'certification': 'valid'}

**from_keys**

In [92]:
import string
letters=string.ascii_uppercase
for i in range(leyye ):
    dict2=dict2.fromkeys(letters,i)
    print(dict2)

{'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'F': 0, 'G': 0, 'H': 0, 'I': 0, 'J': 0, 'K': 0, 'L': 0, 'M': 0, 'N': 0, 'O': 0, 'P': 0, 'Q': 0, 'R': 0, 'S': 0, 'T': 0, 'U': 0, 'V': 0, 'W': 0, 'X': 0, 'Y': 0, 'Z': 0}
{'A': 1, 'B': 1, 'C': 1, 'D': 1, 'E': 1, 'F': 1, 'G': 1, 'H': 1, 'I': 1, 'J': 1, 'K': 1, 'L': 1, 'M': 1, 'N': 1, 'O': 1, 'P': 1, 'Q': 1, 'R': 1, 'S': 1, 'T': 1, 'U': 1, 'V': 1, 'W': 1, 'X': 1, 'Y': 1, 'Z': 1}
{'A': 2, 'B': 2, 'C': 2, 'D': 2, 'E': 2, 'F': 2, 'G': 2, 'H': 2, 'I': 2, 'J': 2, 'K': 2, 'L': 2, 'M': 2, 'N': 2, 'O': 2, 'P': 2, 'Q': 2, 'R': 2, 'S': 2, 'T': 2, 'U': 2, 'V': 2, 'W': 2, 'X': 2, 'Y': 2, 'Z': 2}
{'A': 3, 'B': 3, 'C': 3, 'D': 3, 'E': 3, 'F': 3, 'G': 3, 'H': 3, 'I': 3, 'J': 3, 'K': 3, 'L': 3, 'M': 3, 'N': 3, 'O': 3, 'P': 3, 'Q': 3, 'R': 3, 'S': 3, 'T': 3, 'U': 3, 'V': 3, 'W': 3, 'X': 3, 'Y': 3, 'Z': 3}
{'A': 4, 'B': 4, 'C': 4, 'D': 4, 'E': 4, 'F': 4, 'G': 4, 'H': 4, 'I': 4, 'J': 4, 'K': 4, 'L': 4, 'M': 4, 'N': 4, 'O': 4, 'P': 4, 'Q': 4, 'R': 4, 'S': 4, 'T': 4, 'U': 4, 'V': 4, 'W': 4, 'X': 4, 'Y': 4, 'Z': 4}
{'A': 5, 'B': 5, 'C': 5, 'D': 5, 'E': 5, 'F': 5, 'G': 5, 'H': 5, 'I': 5, 'J': 5, 'K': 5, 'L': 5, 'M': 5, 'N': 5, 'O': 5, 'P': 5, 'Q': 5, 'R': 5, 'S': 5, 'T': 5, 'U': 5, 'V': 5, 'W': 5, 'X': 5, 'Y': 5, 'Z': 5}
{'A': 6, 'B': 6, 'C': 6, 'D': 6, 'E': 6, 'F': 6, 'G': 6, 'H': 6, 'I': 6, 'J': 6, 'K': 6, 'L': 6, 'M': 6, 'N': 6, 'O': 6, 'P': 6, 'Q': 6, 'R': 6, 'S': 6, 'T': 6, 'U': 6, 'V': 6, 'W': 6, 'X': 6, 'Y': 6, 'Z': 6}
{'A': 7, 'B': 7, 'C': 7, 'D': 7, 'E': 7, 'F': 7, 'G': 7, 'H': 7, 'I': 7, 'J': 7, 'K': 7, 'L': 7, 'M': 7, 'N': 7, 'O': 7, 'P': 7, 'Q': 7, 'R': 7, 'S': 7, 'T': 7, 'U': 7, 'V': 7, 'W': 7, 'X': 7, 'Y': 7, 'Z': 7}
{'A': 8, 'B': 8, 'C': 8, 'D': 8, 'E': 8, 'F': 8, 'G': 8, 'H': 8, 'I': 8, 'J': 8, 'K': 8, 'L': 8, 'M': 8, 'N': 8, 'O': 8, 'P': 8, 'Q': 8, 'R': 8, 'S': 8, 'T': 8, 'U': 8, 'V': 8, 'W': 8, 'X': 8, 'Y': 8, 'Z': 8}
{'A': 9, 'B': 9, 'C': 9, 'D': 9, 'E': 9, 'F': 9, 'G': 9, 'H': 9, 'I': 9, 'J': 9, 'K': 9, 'L': 9, 'M': 9, 'N': 9, 'O': 9, 'P': 9, 'Q': 9, 'R': 9, 'S': 9, 'T': 9, 'U': 9, 'V': 9, 'W': 9, 'X': 9, 'Y': 9, 'Z': 9}
{'A': 10, 'B': 10, 'C': 10, 'D': 10, 'E': 10, 'F': 10, 'G': 10, 'H': 10, 'I': 10, 'J': 10, 'K': 10, 'L': 10, 'M': 10, 'N': 10, 'O': 10, 'P': 10, 'Q': 10, 'R': 10, 'S': 10, 'T': 10, 'U': 10, 'V': 10, 'W': 10, 'X': 10, 'Y': 10, 'Z': 10}
{'A': 11, 'B': 11, 'C': 11, 'D': 11, 'E': 11, 'F': 11, 'G': 11, 'H': 11, 'I': 11, 'J': 11, 'K': 11, 'L': 11, 'M': 11, 'N': 11, 'O': 11, 'P': 11, 'Q': 11, 'R': 11, 'S': 11, 'T': 11, 'U': 11, 'V': 11, 'W': 11, 'X': 11, 'Y': 11, 'Z': 11}
{'A': 12, 'B': 12, 'C': 12, 'D': 12, 'E': 12, 'F': 12, 'G': 12, 'H': 12, 'I': 12, 'J': 12, 'K': 12, 'L': 12, 'M': 12, 'N': 12, 'O': 12, 'P': 12, 'Q': 12, 'R': 12, 'S': 12, 'T': 12, 'U': 12, 'V': 12, 'W': 12, 'X': 12, 'Y': 12, 'Z': 12}
{'A': 13, 'B': 13, 'C': 13, 'D': 13, 'E': 13, 'F': 13, 'G': 13, 'H': 13, 'I': 13, 'J': 13, 'K': 13, 'L': 13, 'M': 13, 'N': 13, 'O': 13, 'P': 13, 'Q': 13, 'R': 13, 'S': 13, 'T': 13, 'U': 13, 'V': 13, 'W': 13, 'X': 13, 'Y': 13, 'Z': 13}
{'A': 14, 'B': 14, 'C': 14, 'D': 14, 'E': 14, 'F': 14, 'G': 14, 'H': 14, 'I': 14, 'J': 14, 'K': 14, 'L': 14, 'M': 14, 'N': 14, 'O': 14, 'P': 14, 'Q': 14, 'R': 14, 'S': 14, 'T': 14, 'U': 14, 'V': 14, 'W': 14, 'X': 14, 'Y': 14, 'Z': 14}
{'A': 15, 'B': 15, 'C': 15, 'D': 15, 'E': 15, 'F': 15, 'G': 15, 'H': 15, 'I': 15, 'J': 15, 'K': 15, 'L': 15, 'M': 15, 'N': 15, 'O': 15, 'P': 15, 'Q': 15, 'R': 15, 'S': 15, 'T': 15, 'U': 15, 'V': 15, 'W': 15, 'X': 15, 'Y': 15, 'Z': 15}
{'A': 16, 'B': 16, 'C': 16, 'D': 16, 'E': 16, 'F': 16, 'G': 16, 'H': 16, 'I': 16, 'J': 16, 'K': 16, 'L': 16, 'M': 16, 'N': 16, 'O': 16, 'P': 16, 'Q': 16, 'R': 16, 'S': 16, 'T': 16, 'U': 16, 'V': 16, 'W': 16, 'X': 16, 'Y': 16, 'Z': 16}
{'A': 17, 'B': 17, 'C': 17, 'D': 17, 'E': 17, 'F': 17, 'G': 17, 'H': 17, 'I': 17, 'J': 17, 'K': 17, 'L': 17, 'M': 17, 'N': 17, 'O': 17, 'P': 17, 'Q': 17, 'R': 17, 'S': 17, 'T': 17, 'U': 17, 'V': 17, 'W': 17, 'X': 17, 'Y': 17, 'Z': 17}
{'A': 18, 'B': 18, 'C': 18, 'D': 18, 'E': 18, 'F': 18, 'G': 18, 'H': 18, 'I': 18, 'J': 18, 'K': 18, 'L': 18, 'M': 18, 'N': 18, 'O': 18, 'P': 18, 'Q': 18, 'R': 18, 'S': 18, 'T': 18, 'U': 18, 'V': 18, 'W': 18, 'X': 18, 'Y': 18, 'Z': 18}
{'A': 19, 'B': 19, 'C': 19, 'D': 19, 'E': 19, 'F': 19, 'G': 19, 'H': 19, 'I': 19, 'J': 19, 'K': 19, 'L': 19, 'M': 19, 'N': 19, 'O': 19, 'P': 19, 'Q': 19, 'R': 19, 'S': 19, 'T': 19, 'U': 19, 'V': 19, 'W': 19, 'X': 19, 'Y': 19, 'Z': 19}
{'A': 20, 'B': 20, 'C': 20, 'D': 20, 'E': 20, 'F': 20, 'G': 20, 'H': 20, 'I': 20, 'J': 20, 'K': 20, 'L': 20, 'M': 20, 'N': 20, 'O': 20, 'P': 20, 'Q': 20, 'R': 20, 'S': 20, 'T': 20, 'U': 20, 'V': 20, 'W': 20, 'X': 20, 'Y': 20, 'Z': 20}
{'A': 21, 'B': 21, 'C': 21, 'D': 21, 'E': 21, 'F': 21, 'G': 21, 'H': 21, 'I': 21, 'J': 21, 'K': 21, 'L': 21, 'M': 21, 'N': 21, 'O': 21, 'P': 21, 'Q': 21, 'R': 21, 'S': 21, 'T': 21, 'U': 21, 'V': 21, 'W': 21, 'X': 21, 'Y': 21, 'Z': 21}
{'A': 22, 'B': 22, 'C': 22, 'D': 22, 'E': 22, 'F': 22, 'G': 22, 'H': 22, 'I': 22, 'J': 22, 'K': 22, 'L': 22, 'M': 22, 'N': 22, 'O': 22, 'P': 22, 'Q': 22, 'R': 22, 'S': 22, 'T': 22, 'U': 22, 'V': 22, 'W': 22, 'X': 22, 'Y': 22, 'Z': 22}
{'A': 23, 'B': 23, 'C': 23, 'D': 23, 'E': 23, 'F': 23, 'G': 23, 'H': 23, 'I': 23, 'J': 23, 'K': 23, 'L': 23, 'M': 23, 'N': 23, 'O': 23, 'P': 23, 'Q': 23, 'R': 23, 'S': 23, 'T': 23, 'U': 23, 'V': 23, 'W': 23, 'X': 23, 'Y': 23, 'Z': 23}
{'A': 24, 'B': 24, 'C': 24, 'D': 24, 'E': 24, 'F': 24, 'G': 24, 'H': 24, 'I': 24, 'J': 24, 'K': 24, 'L': 24, 'M': 24, 'N': 24, 'O': 24, 'P': 24, 'Q': 24, 'R': 24, 'S': 24, 'T': 24, 'U': 24, 'V': 24, 'W': 24, 'X': 24, 'Y': 24, 'Z': 24}
{'A': 25, 'B': 25, 'C': 25, 'D': 25, 'E': 25, 'F': 25, 'G': 25, 'H': 25, 'I': 25, 'J': 25, 'K': 25, 'L': 25, 'M': 25, 'N': 25, 'O': 25, 'P': 25, 'Q': 25, 'R': 25, 'S': 25, 'T': 25, 'U': 25, 'V': 25, 'W': 25, 'X': 25, 'Y': 25, 'Z': 25}
{'A': 26, 'B': 26, 'C': 26, 'D': 26, 'E': 26, 'F': 26, 'G': 26, 'H': 26, 'I': 26, 'J': 26, 'K': 26, 'L': 26, 'M': 26, 'N': 26, 'O': 26, 'P': 26, 'Q': 26, 'R': 26, 'S': 26, 'T': 26, 'U': 26, 'V': 26, 'W': 26, 'X': 26, 'Y': 26, 'Z': 26}