In [ ]:
lis1=['Apple','Ball','Cat','Dog','Elephant']
#if len(elements)>3 print it is good else
#print it is better

In [8]:
lis1=['Apple','Ball','Cat','Dog','Elephant']
items=[]
output=['{} good'.format(i) if len(i)>3 else '{} better'.format(i) for i in list1]
output

['Apple good', 'Ball good', 'Cat better', 'Dog better', 'Elephant good']

In [7]:
list1=['Apple','Ball','Cat','Dog','Elephant']
items=[]
for i in list1:
    if len(i)>3:
        items.append('{} good'.format(i))
    else:
        items.append('{} better'.format(i))
items

['Apple good', 'Ball good', 'Cat better', 'Dog better', 'Elephant good']

**Clear**

In [10]:
#To clear all the elements
list1=[1,2,3,4]
list1.clear()

In [11]:
list1

[]

**Delete**

In [14]:
#del is not a method
list1=[100,200,300]
del list1[1]

In [15]:
list1

[100, 300]

**pop-remove**

In [ ]:
#Explain difference between pop-remove-del

In [20]:
list1=['Apple','Ball','Cat','Dog','Elephant']
list1.pop()
#It returns deleted value
#default: -1/last
#it saves result in the same list

'Elephant'

In [21]:
list1

['Apple', 'Ball', 'Cat', 'Dog']

In [22]:
list1.pop(3)

'Dog'

In [27]:
list1=['Apple','Ball','Cat','Dog','Elephant']
list1.remove('Ball')
#It takes element of the list directly
#it will not return any thing
#It also saves the result in same list
list1

['Apple', 'Cat', 'Dog', 'Elephant']

In [32]:
list2=[i for i in range(1,100,3)]
list2.remove(55)
list2

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97]

**index_method**

In [34]:
list1.index('Dog')

2

In [35]:
list1.pop(list1.index('Dog'))

'Dog'

In [36]:
list1

['Apple', 'Cat', 'Elephant']

In [68]:
string1='kl.rahul@lucknow.com,virat.kohli@blr.com,rohit.sharma@mumbai.com'
list1=string1.split(',')
f_name=[]
s_name=[]
c_name=[]
for i in list1:
    f_name.append(i.split('.')[0])
    s_name.append(i.split('.')[1].split('@')[0])
    c_name.append(i.split('.')[1].split('@')[1])
f_name,s_name,c_name

(['kl', 'virat', 'rohit'],
 ['rahul', 'kohli', 'sharma'],
 ['lucknow', 'blr', 'mumbai'])

In [75]:
f_name=[i.split('.')[0] for i in list1]
s_name=[i.split('.')[1].split('@')[0] for i in list1]
c_name=[i.split('.')[1].split('@')[1] for i in list1]
f_name,s_name,c_name

(['kl', 'virat', 'rohit'],
 ['rahul', 'kohli', 'sharma'],
 ['lucknow', 'blr', 'mumbai'])

**copy**

In [76]:
list1.copy()

['kl.rahul@lucknow.com', 'virat.kohli@blr.com', 'rohit.sharma@mumbai.com']

**EXTEND**

In [79]:
list1=[1,2,3,4]
list2=['a','b','c','d']
list1.extend(list2)
list2.extend(list1)
print(list1)
print(list2)

[1, 2, 3, 4, 'a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [80]:
#append
list1 = [1, 2, 3]
list1.append(4)
print(list1)  # Output: [1, 2, 3, 4]

# extend
list2 = [1, 2, 3]
list2.extend([4, 5, 6])
print(list2)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]

**ZIP method**

In [84]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
#Ram age is 25
#raheem age is 30
#robert age is 35
for name,age in zip(list1,list2):
    print("{} age is {}".format(name,age))

Ram age is 25
Raheem age is 30
Robert age is 35

In [89]:
list1 = ['Ram', 'Raheem', 'Robert']
list2 = [25, 30, 35]

for i in range(len(list1)):
    print("{} age is {}".format(list1[i],list2[i]))

Ram age is 25
Raheem age is 30
Robert age is 35

**SORT**

In [90]:
list1=['B','D','A','C']
list1.sort()
list1

['A', 'B', 'C', 'D']

In [ ]:
#If nothing mentioed means ascending ordeer
#argumetn reverse it default as false

In [91]:
list1=['B','D','A','C']
list1.sort(reverse=True)
list1

['D', 'C', 'B', 'A']