In [1]:
def add(x):
    return(x+10)
add(10)

20

In [2]:
#How many arguments are there?
#what you are returning
#<function_name>=lambda<argument_name>:<return_value>

SyntaxError: invalid syntax (1988535954.py, line 3)

In [5]:
add=lambda x:x+10 #function is ready
add(10)

20

In [ ]:
def mul(num):
    return(num*num)

In [7]:
mul= lambda num:num*num
mul(5)

25

In [ ]:
def cube(val):
    return(val*val*val)

In [10]:
cube=lambda val:val*val*val
cube(3)

27

***Lambda function with 2 argument***

In [11]:
def sum1(a,b):
    return(a+b)
sum1(2,3)

5

In [12]:
sum1= lambda a,b:a+b
sum1(2,3)

5

In [ ]:
def avg(a,b,c):
    return(a+b+c/3)

In [14]:
avg=lambda a,b,c:a+b+c/3
avg(3,2,10)

8.333333333333334

In [19]:
avg=lambda a,b,c=100:round((a+b+c)/3,2)

In [20]:
avg(10,20)

43.33

**lambda function with if else**

In [ ]:
def greater(num1,num2):
    if num1>num2:
        return(num1)
    else:
        return(num2)

In [30]:
greater=lambda num1,num2:'Greater is {}'.format(num1) if num1>num2 else 'Greater is {}'.format(num2)
greater(3,2)

'Greater is 3'

##### function_name= lambda argument_name:if_output if if_condition else else_output

**lambda functions with list**

In [33]:
list1=['hyd','mumbai','blr']
#output: [Hyd,Mumbai,Blr]
output=[]
for i in list1:
    output.append(i.capitalize())
output

['Hyd', 'Mumbai', 'Blr']

In [36]:
list1=['hyd','mumbai','blr']
#output: [Hyd,Mumbai,Blr]
output= [i.capitalize() for i in list1]
output

['Hyd', 'Mumbai', 'Blr']

In [ ]:
#LAmbda

In [51]:
list1 = ['hyd', 'mumbai', 'blr']
output = list(map(lambda x: x.capitalize(), list1))
output

['Hyd', 'Mumbai', 'Blr']

**Map_function**

In [56]:
list1 = ['hyd', 'mumbai', 'blr']
list(map(lambda i: i.capitalize(),list1))
#step-1:create a lambda function: lambda i: i.capitalize()
#step-2:add your iterator
#step1,step2: lambda i: i.capitalize(),list1
#step3: mapping of both step-1 and step-2
#step-4: you need to save the result again in list or tuple
#  list(map(step1,step2))
#  list(map(lambda i: i.capitalize(),list1))

['Hyd', 'Mumbai', 'Blr']

In [62]:
list1=[1,2,3,4]
output = list(map(lambda i:i*i, list1))
output

[1, 4, 9, 16]

In [85]:
list1=int(input("Enter a number : "))
output =(lambda i:i*i)(list1)
output

Enter a number : 9

81

In [83]:
list1=['hyd','Biryani','Bhuvaneshwar','rasagulla']
#output: ['Biryani','Bhuvaneshwar','rasagulla']
list(filter(lambda i:(len(i)>3),list1))

['Biryani', 'Bhuvaneshwar', 'rasagulla']

In [87]:
list1=['hyd','Bir#ani','Bhuv#eshwar','ras#ulla']
list(filter(lambda i:'#' in i,list1))

['Bir#ani', 'Bhuv#eshwar', 'ras#ulla']

In [ ]:
list1=[1,2,3,4,5,6]
#output: [{'even':[2,4,6],'odd':[1,3,5]}]
#output: [{1:'odd',2:'even'}]

In [110]:
list1 = [1, 2, 3, 4, 5, 6]
list(map(lambda i:{i:'odd'} if i%2==0 else {i:'even'}))

TypeError: map() must have at least two arguments.

In [109]:
output

[{1: 'odd'}, {2: 'even'}, {3: 'odd'}, {4: 'even'}, {5: 'odd'}, {6: 'even'}]